@media (prefers-color-scheme: dark) {
	:root {
	    	--community-blue: #42b8f7;
		--fg-medium-contrast: #ddd;
	    	--fg-low-contrast: #c9c9c9;
	    	
		--fg-high-contrast: #fff;
		
		--surface-high-contrast: #30363d;
		--surface-low-contrast: #161b22;
		
	    	--modal-bg: #161b22;
	    	--modal-fg: #ffffff;
		--bg: #010409;
		
	    	--bold-bg: #404143;
		
		
		--primary: #FFF;
		--primary-high: #c9d1d9;
		--primary-medium: #8b949e;
		--primary-low: #21262d;
		--header_primary: #FFF;
		--secondary: #0d1117;
		--header_background: #161b22;
		
		--primary-high-or-secondary-low: #8b949e;
		--primary-med-or-secondary-med: #8b949e;
		--quaternary: #fff;
		--primary-very-low: #161b22;
		
		--tertiary-low: #30363d;

		--secondary-rgb: 0, 0, 0;
		
		
	}
	
	// banner welcome
	#main {
		.banner-box {
	      		.banner-subtitle,
			.banner-title {
				color: white !important;
	      		}
	    	}
  	}
	
	/* Filter selection */
	.category-breadcrumb {
		.select-kit-body {
		}
		& > *, & > li {
			border-color: var(--surface-high-contrast) !important;
		}
	}
	
	/* Column sorting */

	/* List view */
	.topic-list {
		thead {
			th {
				border-top: 1px solid #30363d!important;
				border-bottom: 1px solid #30363d!important;
				&:first-of-type {
					border-left: 1px solid #30363d!important;
				}
				&:last-of-type {
					border-right: 1px solid #30363d!important;
				}
			}
		}
		
	}

	/* Select kit */
	.select-kit {
	}
	.single-select {
		.select-kit-filter {
			.filter-input {
				border: 1px solid #525252!important;
			}
			&.is-expanded {
			    	border-bottom: 1px solid #525252!important;
			}
		}
	}
	.select-kit {
	    &.combo-box {
	      &.category-chooser, &.category-drop, &.mini-tag-chooser, &.tag-drop, &.single-select, &.multi-select {
		.select-kit-row {
		  .topic-count {
		    color: #9d9ca0!important
		  }
		}
	      }
	    }
	  }
	
	/* user menu dropdown */
	.user-menu {
		.menu-links-header {
			border-color: #30363d;
		}
	}
	/* Sign up / Login form */
	.fixed-modal {
		background-color: rgb(0 0 0 / 90%);
	}
	.d-modal.create-account {
		.modal-footer:before {
			background-image: none;
		}
	}
	input[type=password],
	input[type=email] {
		background-color: var(--bg);
    		border: 1px solid var(--surface-high-contrast);
	}
	/* Category */
	.category-title-header {
		color: var(--fg-high-contrast) !important;
	}
	/* Header dropdown */
	.custom-header-links .custom-header-dropdown-link {
		&:hover {
			color: var(--fg-high-contrast);
		}
	}
	/* Editor */
	.select-kit.dropdown-select-box.toolbar-popup-menu-options {
		.select-kit-row {
			border-color: var(--surface-high-contrast);
		}
	}

	/* Login button */
	.btn-social {
    		color: var(--primary);
	}

	/* Footer links and icons */
	.footer .footer-links a,
	.footer .footer-links .social-link {
	    color: var(--fg-high-contrast);
	}
}
