@media (prefers-color-scheme: dark) {
	:root {
	    	--community-blue: #42b8f7;
		--fg-medium-contrast: #ddd;
	    	--fg-low-contrast: #c9c9c9;
	    	--surface-high-contrast: #303030;
		--fg-high-contrast: #fff;
		--surface-low-contrast: #3e3e41;
		
	    	--modal-bg: #2e2e30;
	    	--modal-fg: #ffffff;
		--bg: #2e2e30;
		
	    	--bold-bg: #404143;
		
		--filter-border: rgb(255 255 255 / 30%);
	}
	
	// banner welcome
	#main {
		.banner-box {
	      		.banner-subtitle,
			.banner-title {
				color: white !important;
	      		}
	    	}
  	}
	
	/* Filter selection */
	.category-breadcrumb {
		.select-kit-body {
		}
		& > *, & > li {
			border-color: var(--filter-border)!important;
		}
	}
	
	/* Column sorting */

	/* List view */
	.topic-list {
		thead {
			th {
				border-top: 1px solid #464647!important;
				border-bottom: 1px solid #464647!important;
				&:first-of-type {
					border-left: 1px solid #464647!important;
				}
				&:last-of-type {
					border-right: 1px solid #464647!important;
				}
			}
		}
		
	}

	/* Select kit */
	.select-kit {
	}
	&.single-select {
		.select-kit-filter {
			.filter-input {
				border: 1px solid #525252!important;
			}
			.is-expanded {
			    	border-bottom: 1px solid #525252!important;
			}
		}
	} 
	
}
