.d-header {
  border-bottom: 1px solid var(--surface-high-contrast);
  box-shadow: none;
  height: 72px;
  // margin-bottom: 32px;
  > .wrap {
    width: 100%;
  }
  .panel {
    height: 40px;
    align-items: end;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
  }
  .header-buttons {
    grid-column: 2;
    margin-top: 0;
  }
}

.d-header-icons {
  display: inline-flex;
  grid-column: 1;
  li {
    float: none;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0 8px;
    &:last-of-type {
      padding-right: 0;
    }
  }
  .d-icon {
    color: var(--fg-high-contrast);
    font-size: 16px; // Icon
  }
  .icon {
    float: none;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    img.avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
    .unread-notifications {
      background-color: var(--red);
    }
  }
  .icon:hover,
  .icon:focus,
  .active {
    // background-color: var(--surface-high-contrast) !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    .d-icon {
      color: var(--fg-high-contrast);
    }
  }
}

/* This provides theming to a component installed in Discourse called 
"Versatile Banner" that powers the "Welcome to the Figma Community
Forum" header on desktop. */

#main {
  .banner-box {
    background-color: #212121;
    display: flex;
    .button-container {
      margin-right: 0px;
      z-index: 9999;
      .close {
        .d-button-label {
          display: none;
        }
        .d-icon {
          color: var(--bold-fg);
        }
      }
    }
    .container {
      align-items: center;
      align-self: center;
      display: flex;
      margin: 0px auto;
      max-width: 1200px !important;
      position: relative;
      height: 200px;
      width: 90vw !important;
      .button-container {
        align-self: flex-end;
      }
      .section-header {
        padding-bottom: 0px;
        &:after {
          top: 0;
          content: url("https://forum.betaprofiles.com/uploads/default/original/2X/9/9a0f84786887bd1eac09045f3a9d0f90425482ff.jpeg");
          height: 200px;
          position: absolute;
          right: 0;
          width: 547px;
        }
      }
    }
    .banner-subtitle,
    .banner-title {
      color: white !important;
      cursor: default;
      font-family: $font-stack;
      margin-bottom: 0;
      text-align: left;
    }
    .banner-subtitle {
      font-size: 1em;
      font-weight: 500;
    }
    .banner-title {
      font-size: 2.5em;
      font-weight: 600;
      line-height: 1em;
      margin-bottom: 0.4em;
    }
  }
}

/* Category headers */

.category-title-header {
  align-items: center;
  color: black !important;
  height: 200px;
  justify-content: left !important;
  max-height: 200px !important;
  text-align: left !important;
  .category-title-contents {
    margin: 0px auto;
    max-width: 1200px !important;
    padding: unset !important;
    width: 90vw !important;
    h1 {
      cursor: default;
      font-family: $font-stack;
      font-size: 2.5em;
      font-weight: 600;
    }
    .category-title-description {
      cursor: default;
      font-family: $font-stack;
      font-size: 1em;
      font-weight: 500;
    }
  }
}

/* When we display .topic-navigation to the right of the topic post,
this pushes it Header+24px from the top */
@media screen and (min-width: 925px) {
  .container.posts .topic-navigation {
    top: 124px;
  }
}

/* Hide the banner image when we hit a breaking width */
@media screen and (max-width: 1100px) {
  .section-header {
    &:after {
      content: none !important;
    }
  }
}

/* When showing the header-text, at certain sizes of screen it becomes
untenable to display it without breaking the layout. These rules hide
the text entirely when it reaches break points */
