/* body wrap */
.wrap {
  max-width: initial;
  margin: 0 0;
  padding: 0 0;
  display: grid;
  grid-template-columns:
    1fr
    unquote("min(90vw, 1200px)")
    1fr !important;
  & > * {
    grid-column: 2 !important;
  }
}
#main-outlet-wrapper {
  .sidebar-wrapper {
    background-color: transparent;
    display: none;
  }
}
