/* body wrap */
.wrap {
  max-width: initial;
  margin: 0 0;
  padding: 0 0;
  display: grid;
  grid-template-columns:
    1fr
    unquote("min(90vw, 1200px)")
    1fr !important;
  & > * {
    grid-column: 2 !important;
  }
}
#main-outlet-wrapper {
  .sidebar-wrapper {
    background-color: transparent;
    display: none;
  }
}

/* latest drop - homepage */
.list-controls .nav-pills>li {
    border: 0 none
}
.list-controls .nav-pills>li>a {
    color: var(--secondary);
    background-color: var(--quaternary);
}

.list-controls .navigation-container {
    margin: 0;
    padding: 1em 0;
}
.list-controls .nav-pills .drop {
    background-color: var(--modal-bg);
    border: 0.5px solid rgba(0,0,0,0.1);
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
    border-radius: 2px;
    color: var(--modal-fg);
}
.nav-pills li {
    padding: 0px 16px 0px 0px;
}
.nav-pills li:first-of-type {
    padding-left: 0;
}

.list-controls .nav-pills .drop li>a {
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 0.875em;
    letter-spacing: 0.01em;
    line-height: 1.25em;
    color: var(--fg-low-contrast);
    padding: 0 0;
    position: relative;
}

.list-controls .nav-pills .drop li>a.active {
    color: var(--fg-high-contrast);
    background-color: transparent;
}
