:root {
    --blue-tint: #699bf7;
    --coral: #ff8577;
    --golden-yellow: #ffc700;
    --green: #0fa958;
    --community-blue: #236DF6;
    --violet: #a259ff;
    --violet-tint: #c7b9ff;
    --violet-alert: rgba(39,109,246,0.1);
    --red: #f24e1e;
    --bg: #ffffff;
    --fg-high-contrast: #000000;
    --fg-medium-contrast: #333333;
    --fg-low-contrast: #5d5d5d;
    --bold-bg: #222222;
    --bold-fg: #ffffff;
    --modal-bg: #ffffff;
    --modal-fg: #333333;
    --surface-high-contrast: #d6d6d6;
    --surface-low-contrast: #f5f5f5;
}
.d-header {
    border-bottom: 1px solid #d6d6d6;
    box-shadow: none;
    height: 72px;
}

.d-header-icons .icon {
    float: none;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}
.d-header-icons {
    display: inline-flex;
    grid-column: 1;
}
.d-header-icons .d-icon {
    color: #333;
    font-size: 16px;
}
.d-header .header-buttons {
    grid-column: 2;
    margin-top: 0;
}

.d-header .panel {
    height: 40px;
    align-items: end;
    display: inline-grid;
    grid-auto-flow: column;
}

.d-header-icons li {
    float: none;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0 8px;
}

.category-breadcrumb>*, .category-breadcrumb>li {
    align-self: center;
    background-color: transparent;
    border: 1px solid;
    border-color: rgba(0,0,0,0.3) !important;
    border-radius: 32px;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    overflow: visible;
    padding: 7px 16px;
}
.navigation-container .category-breadcrumb li {
    margin-bottom: 0.5em;
}
.list-controls ol {
    display: inline-flex;
    flex-wrap: wrap;
    float: none;
    gap: 8px;
}
.navigation-container .category-breadcrumb {
    align-self: center;
    grid-area: navigation;
    grid-row: 1;
}
.list-controls .combo-box .combo-box-header {
    background: transparent;
    border: 0 !important;
    color: inherit;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    padding: 0;
}
/* body filter */
.navigation-container {
    --nav-space: 0;
}
.navigation-container {
    align-items: flex-start;
    display: grid;
    row-gap: 24px;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content;
    grid-template-areas:
        "navigation buttons"
        "navigation buttons"
        "navigation buttons";
}
.navigation-container #navigation-bar {
    display: flex;
    grid-area: navigation;
    grid-column: -1/1;
    grid-row: 2;
    margin: 0 0;
}

/* Topic  homepage */
.topic-list thead th {
    background-color: #f5f5f5;
    border-top: 1px solid #D6D7DA;
    border-bottom: 1px solid #D6D7DA;
    color: var(--fg-high-contrast);
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1.375em;
    padding: 14px 16px;
}
.topic-list th:first-of-type, .topic-list td:first-of-type {
    padding-left: 0;
}
.topic-list thead th:first-of-type {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-left: 1px solid #D6D7DA;
    cursor: default;
    padding-left: 16px;
}
.topic-list thead th:last-of-type {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-right: 1px solid #D6D7DA;
    padding-right: 28px;
}


.topic-list thead tr {
    border-bottom: 0px;
    border-radius: 8px;
}
tbody {
    border-top: 0px;
}
.nav-pills>li>a, .nav-pills>li button {
    border-radius: 50px;
    font-size: 0.9em;
    font-weight: 500;
}

/* topic map */
.topic-map section.map li {
    display: inline-grid;
    grid-auto-flow: row;
}
.topic-map section.map li h4 {
    color: var(--fg-medium-contrast);
    font-family: "Inter",sans-serif;
    font-size: 0.8125em;
    grid-row: 1;
    margin: 0 0;
    margin-top: 4px;
    padding: 0 0;
    padding-bottom: 2px;
    position: relative;
    text-transform: capitalize;
}

.topic-map section.map .topic-map-post {
    align-items: center;
    display: inline-flex;
    margin-top: 0;
}
.topic-map section.map li .trigger-user-card {
    margin-right: 4px;
}
.topic-map section.map li div, .topic-map section.map li span {
    font-weight: 500;
    grid-row: 2;
    justify-self: left;
}
.topic-map section.map li.last-reply:after {
    background-color: var(--surface-high-contrast);
    content: "";
    display: inline-block;
    grid-column: 2;
    height: 40px;
    margin-top: 2px;
    margin-left: 32px;
    margin-right: 4px;
    width: 1px;
}

.topic-map section.map .number {
    color: var(--fg-high-contrast);
    font-size: 1.125em;
    margin-top: 2px;
}

.topic-map section.map li.avatars {
    display: none;
}

.topic-map {
    background-color: transparent;
    border: 1px solid var(--surface-high-contrast);
    border-radius: 6px;
    margin: 8px 0 8px 20px;
    max-width: 82vw;
}

.topic-map section.map {
    border: 0;
    border-radius: 6px;
    padding: 8px;
}

.topic-map .buttons {
    align-items: center;
    display: inline-flex;
    padding-right: 8px;
}
.topic-map .buttons .btn {
    background: transparent;
    border-top: 0;
    border-left: 0;
    height: 40px;
    padding: 4px;
    width: 40px;
}
.topic-map section.map:first-of-type .buttons .btn {
    height: 40px;
}
.topic-map .buttons .btn .fa {
    font-size: 16px;
    margin: 0px auto;
}

.topic-map section {
    border-top: 0;
    padding: 0px;
}
.topic-map .avatars, .topic-map .links, .topic-map .information {
    padding: 0px 16px 16px 16px;
}

/* Post - author */
.topic-body:before {
    background-color: var(--surface-high-contrast);
    content: "";
    display: block;
    position: absolute;
    top: 64px;
    left: -26px;
    height: calc(100% - 72px);
    width: 2px;
}
.topic-post:first-of-type .topic-body:before {
    height: calc(100% - 72px);
}

.topic-body .topic-meta-data, .topic-body .cooked {
    color: var(--fg-medium-contrast);
    line-height: 1.65em;
    padding: 0px 0px 0px 20px;
}
.topic-body .topic-meta-data {
    align-self: center;
    height: 40px;
}
