:root {
    --blue-tint: #699bf7;
    --coral: #ff8577;
    --golden-yellow: #ffc700;
    --green: #0fa958;
    --community-blue: #236DF6;
    --violet: #a259ff;
    --violet-tint: #c7b9ff;
    --violet-alert: rgba(39,109,246,0.1);
    --red: #f24e1e;
    --bg: #ffffff;
    --fg-high-contrast: #000000;
    --fg-medium-contrast: #333333;
    --fg-low-contrast: #5d5d5d;
    --bold-bg: #222222;
    --bold-fg: #ffffff;
    --modal-bg: #ffffff;
    --modal-fg: #333333;
    --surface-high-contrast: #d6d6d6;
    --surface-low-contrast: #f5f5f5;
}
/* General */
.btn {
    align-items: center;
    background-color: var(--surface-low-contrast);
    border-radius: 6px;
    display: inline-flex;
    font-size: 0.875em;
    font-weight: 500;
    min-height: 30px;
    min-width: 30px;
    padding: 4px;
    text-transform: capitalize;
    transition: none;
}

/* nav */
.d-header {
    border-bottom: 1px solid #d6d6d6;
    box-shadow: none;
    height: 72px;
}

.d-header-icons .icon {
    float: none;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}
.d-header-icons {
    display: inline-flex;
    grid-column: 1;
}
.d-header-icons .d-icon {
    color: #333;
    font-size: 16px;
}
.d-header .header-buttons {
    grid-column: 2;
    margin-top: 0;
}

.d-header .panel {
    height: 40px;
    align-items: center;
    display: inline-grid;
    grid-auto-flow: column;
}

.d-header-icons li {
    float: none;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0 8px;
}

.category-breadcrumb>*, .category-breadcrumb>li {
    align-self: center;
    background-color: transparent;
    border: 1px solid;
    border-color: rgba(0,0,0,0.3) !important;
    border-radius: 32px;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    overflow: visible;
    padding: 7px 16px;
}
.navigation-container .category-breadcrumb li {
    margin-bottom: 0.5em;
}
.list-controls ol {
    display: inline-flex;
    flex-wrap: wrap;
    float: none;
    gap: 8px;
}
.navigation-container .category-breadcrumb {
    align-self: center;
    grid-area: navigation;
    grid-row: 1;
}
.list-controls .combo-box .combo-box-header {
    background: transparent;
    border: 0 !important;
    color: inherit;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    padding: 0;
}
/* body filter */
.navigation-container {
    --nav-space: 0;
}
.navigation-container {
    align-items: flex-start;
    display: grid;
    row-gap: 24px;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content;
    grid-template-areas:
        "navigation buttons"
        "navigation buttons"
        "navigation buttons";
}
.navigation-container #navigation-bar {
    display: flex;
    grid-area: navigation;
    grid-column: -1/1;
    grid-row: 2;
    margin: 0 0;
}

/* Topic list  homepage */
.topic-list thead th {
    background-color: #f5f5f5;
    border-top: 1px solid #D6D7DA;
    border-bottom: 1px solid #D6D7DA;
    color: var(--fg-high-contrast);
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1.375em;
    padding: 14px 16px;
}
.topic-list th:first-of-type, .topic-list td:first-of-type {
    padding-left: 0;
}
.topic-list thead th:first-of-type {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-left: 1px solid #D6D7DA;
    cursor: default;
    padding-left: 16px;
}
.topic-list thead th:last-of-type {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-right: 1px solid #D6D7DA;
    padding-right: 28px;
}
.link-top-line {
	align-items: baseline;
	display: flex;
	max-width: 660px;
}

.link-top-line a {
	color: var(--community-blue);
	font-size: 1em;
	font-weight: 400;
	line-height: 1.375em;
	padding: 0 0;
}

.link-top-line a.title {
	height: 1.375em;
	max-width: 88%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.link-top-line a.title:hover {
	position: relative;
	text-decoration: underline;
	text-decoration-color: currentColor;
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
}

.link-top-line a.title:visited {
	color: var(--fg-medium-contrast);
}

.link-top-line a.title:visited:hover {
	text-decoration-color: currentColor;
}

.topic-list thead tr {
    border-bottom: 0px;
    border-radius: 8px;
}
tbody {
    border-top: 0px;
}
.nav-pills>li>a, .nav-pills>li button {
    border-radius: 50px;
    font-size: 0.9em;
    font-weight: 500;
}
.badge-category-bg {
    border-radius: 8px !important;
    height: 8px !important;
    margin-right: 8px !important;
    width: 8px !important;
}
.topic-list .topic-list-item .link-bottom-line {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.125em;
    margin-top: 8px;
}

.topic-list .topic-list-item .link-top-line a {
    color: var(--community-blue);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.375em;
    padding: 0 0;
}

/* topic map */
.topic-map section.map li {
    display: inline-grid;
    grid-auto-flow: row;
}
.topic-map section.map li h4 {
    color: var(--fg-medium-contrast);
    font-family: "Inter",sans-serif;
    font-size: 0.8125em;
    grid-row: 1;
    margin: 0 0;
    margin-top: 4px;
    padding: 0 0;
    padding-bottom: 2px;
    position: relative;
    text-transform: capitalize;
}

.topic-map section.map .topic-map-post {
    align-items: center;
    display: inline-flex;
    margin-top: 0;
}
.topic-map section.map li .trigger-user-card {
    margin-right: 4px;
}
.topic-map section.map li div, .topic-map section.map li span {
    font-weight: 500;
    grid-row: 2;
    justify-self: left;
}
.topic-map section.map li.last-reply:after {
    background-color: var(--surface-high-contrast);
    content: "";
    display: inline-block;
    grid-column: 2;
    height: 40px;
    margin-top: 2px;
    margin-left: 32px;
    margin-right: 4px;
    width: 1px;
}

.topic-map section.map .number {
    color: var(--fg-high-contrast);
    font-size: 1.125em;
    margin-top: 2px;
}

.topic-map section.map li.avatars {
    display: none;
}

.topic-map {
    background-color: transparent;
    border: 1px solid var(--surface-high-contrast);
    border-radius: 6px;
    margin: 8px 0 8px 20px;
    max-width: 82vw;
}

.topic-map section.map {
    border: 0;
    border-radius: 6px;
    padding: 8px;
}

.topic-map .buttons {
    align-items: center;
    display: inline-flex;
    padding-right: 8px;
}
.topic-map .buttons .btn {
    background: transparent;
    border-top: 0;
    border-left: 0;
    height: 40px;
    padding: 4px;
    width: 40px;
}
.topic-map section.map:first-of-type .buttons .btn {
    height: 40px;
}
.topic-map .buttons .btn .fa {
    font-size: 16px;
    margin: 0px auto;
}

.topic-map section {
    border-top: 0;
    padding: 0px;
}
.topic-map .avatars, .topic-map .links, .topic-map .information {
    padding: 0px 16px 16px 16px;
}

/* Post - author */
.topic-body:before {
    background-color: var(--surface-high-contrast);
    content: "";
    display: block;
    position: absolute;
    top: 64px;
    left: -26px;
    height: calc(100% - 72px);
    width: 2px;
}
.topic-post:first-of-type .topic-body:before {
    height: calc(100% - 72px);
}

.topic-body .topic-meta-data, .topic-body .cooked {
    color: var(--fg-medium-contrast);
    line-height: 1.65em;
    padding: 0px 0px 0px 20px;
}
.topic-body .topic-meta-data {
    align-self: center;
    height: 40px;
}
/* post - button edit */
nav.post-controls .actions {
    align-items: center;
    display: inline-flex;
    flex-direction: row-reverse;
    float: none;
    margin-left: unset;
    text-align: left;
}

/* post end - button */
#topic-footer-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.btn-icon-text {
    align-items: center;
    background-color: var(--surface-low-contrast);
    border-radius: 8px;
    display: inline-flex !important;
    font-size: 0.8125em;
    font-weight: 500;
    min-width: 30px;
    padding: 0 0;
    text-transform: capitalize;
    align-items: center;
    display: inline-flex;
    height: 32px;
    padding: 4px 8px;
}

.btn .d-icon {
    color: inherit;
    font-size: 16px;
    margin-right: 6px;
    transition: none;
}
.btn-primary {
    align-items: center;
    background-color: var(--bold-bg);
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 6px;
    color: var(--bold-fg);
    display: inline-flex;
    font-weight: 600;
    font-size: 0.875em;
    height: 30px;
    line-height: 1;
    border-color: var(--bold-bg);
}

#topic-footer-buttons .btn-primary {
    order: 1;
}
#topic-footer-buttons .topic-admin-menu-button-container {
    order: 2;
}
#topic-footer-buttons .share-and-invite {
    order: 3;
}
#topic-footer-buttons .bookmark {
    order: 4;
}
#topic-footer-buttons .flag-topic {
    order: 5;
}

.discourse-no-touch .btn:hover,
.discourse-no-touch .btn.btn-hover {
    background-color: var(--surface-high-contrast);
    color: var(--fg-high-contrast)
}
.discourse-no-touch .btn:hover .d-icon,
.discourse-no-touch .btn.btn-hover .d-icon {
    
    color: inherit
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #000000!important;
    color: white!important
}

/* new post - button  */
.navigation-container #create-topic {
    background-color: var(--community-blue);
    border-radius: 32px;
    color: var(--bold-fg);
    font-size: 0.875em !important;
    font-weight: 500;
    height: 32px;
    line-height: 1.2em;
    order: 5;
    padding: 7px 16px;
}

.navigation-container #create-topic svg {
    font-size: 12px;
}

/* post button */
nav.post-controls .actions .double-button {
    align-items: center;
    margin-left: 8px;
    margin-right: 0;
    min-width: 30px;
    order: 46;
    padding: revert;
}

nav.post-controls .actions button.show-more-actions {
    order: -1;
}
nav.post-controls .actions button.create {
    margin-left: 0;
    order: 48;
    transition: all ease-out 0.2s;
}
nav.post-controls .actions button .d-button-label {
    display: none;
}
nav.post-controls .actions button.create .d-icon {
    color: var(--fg-low-contrast);
    font-size: 16px;
    transition: color ease-out 0.2s;
}
nav.post-controls .actions button.no-text .d-icon {
    color: var(--fg-low-contrast);
    transition: color ease-out 0.2s;
}
/* post topic - post */
.topic-body, .topic-avatar {
    border-top: 0;
    padding-top: 12px;
}


/* post - timeline */
.timeline-container .topic-timeline .timeline-handle {
    background-color: var(--fg-high-contrast);
    border-radius: 50%;
    height: 12px;
    width: 12px;
    float: left;
    margin-left: -3px;
}
.timeline-container .topic-timeline .timeline-scrollarea {
    border-left: 2px solid var(--surface-high-contrast);
}
.timeline-container .topic-timeline .timeline-footer-controls .btn {
    padding: 4px;
}
.timeline-container .topic-timeline .timeline-footer-controls .create {
    background-color: var(--bold-bg);
}
.timeline-container .topic-timeline .timeline-footer-controls .create .d-icon {
    color: var(--bold-fg);
    vertical-align: 1px;
}
/* categories - button */
.navigation-container .navigation-controls {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    grid-area: buttons;
    grid-row: 1;
    margin-bottom: 0;
    z-index: 1;
}
.navigation-container .navigation-controls .btn {
    background-color: transparent;
    color: var(--fg-medium-contrast);
}

/* all pages - user dropdown */
.menu-panel .panel-body-bottom {
    padding: 0px 8px;
}
.menu-panel .panel-body-bottom .btn {
    background-color: unset;
    max-height: 30px;
}
.hamburger-panel .menu-panel {
    width: 240px !important;
}
.menu-panel.drop-down {
    right: 10px;
    top: 48px !important;
}


.menu-panel {
    background-color: var(--modal-bg);
    border: 0.5px solid rgba(0,0,0,0.1);
//     box-shadow: 0px 2px 7px rgb(0 0 0 / 15%), 0px 5px 17px rgb(0 0 0 / 20%);
    border-radius: 2px;
    color: var(--modal-fg);
    padding: 8px 0px;
}
.menu-panel ul {
    padding: 0px 0px;
}
.menu-panel hr {
    border-top: 1px solid var(--surface-high-contrast);
}

.menu-links.columned li {
    display: block;
    float: none;
    width: unset;
}
.hamburger-panel .menu-panel li {
    padding: 0px 24px 0px 48px;
}

.hamburger-panel .menu-panel li a.widget-link {
    color: var(--modal-fg);
    overflow: visible;
    padding: 4px 0px;
}

.menu-panel li.category-link {
    color: var(--modal-fg) !important;
    font-size: 0.875em;
    height: 30px;
    width: 100%;
}
.menu-panel li a.categories-link {
    color: var(--modal-fg) !important;
    font-size: 0.875em;
    font-weight: 500;
    padding: 5px 0 !important;
}
.menu-panel li.category-link a {
    padding: 5px 0px !important;
    width: 100%;
}
.hamburger-panel .menu-panel {
    width: 240px !important;
}
.menu-panel.drop-down {
    right: 10px;
    top: 48px !important;
}



.hamburger-panel .menu-panel li:hover {
        background-color: var(--community-blue);
}
.hamburger-panel .menu-panel li:hover a {
          color: white !important;
        }

.hamburger-panel .menu-panel li a.widget-link {
    color: var(--modal-fg);
    overflow: visible;
    padding: 4px 0px;
}

.menu-panel li.category-link {
    color: var(--modal-fg) !important;
    font-size: 0.875em;
    height: 30px;
    width: 100%;
}
.menu-panel li a.categories-link {
    color: var(--modal-fg) !important;
    font-size: 0.875em;
    font-weight: 500;
    padding: 5px 0 !important;
}
.menu-panel li.category-link a {
    padding: 5px 0px !important;
    width: 100%;
}

a.widget-link:hover,
a.widget-link:focus,
.menu-panel li a:hover{
    background-color: transparent !important;
}
.menu-panel li.category-link:hover a,
.menu-panel li.category-link:hover .badge-category,
.menu-panel li.category-link:hover .category-name,
.menu-panel li.category-link:hover .badge-notification {
    color: white !important
}
/* Alert */
.alert.alert-info {
    background-color: rgba(35,109,246,0.1);
    border: none;
    border-radius: 8px;
    padding: 16px 24px;
}
.post-notice, .post-notice.old {
    background-color: rgba(35,109,246,0.1);
    border-radius: 8px;
    border-top: 0;
    color: var(--fg-high-contrast);
    font-size: 1em;
    font-weight: 400;
    margin: 8px 0px;
    padding: 10px 16px;
}
.post-notice .d-icon, .post-notice.old .d-icon {
    color: inherit;
    font-size: 16px;
    margin-right: 16px;
}
/* categories */
/** header **/
.category-title-header {
    align-items: center;
    color: black !important;
    height: 200px;
    justify-content: left !important;
    max-height: 200px !important;
    text-align: left !important;
}
.category-title-header .category-title-contents {
    margin: 0px auto;
    max-width: 1090px !important;
    padding: unset !important;
    width: 90vw !important;
}

div[class^="category-title-header"] .category-title-contents .category-title {
    display: inline;
}
.category-title-header .category-title-contents .category-title-description {
    cursor: default;
    font-family: "Inter",sans-serif;
    font-size: 1em;
    font-weight: 500;
}
.category-title-header .category-title-contents h1 {
    cursor: default;
    font-family: "Inter",sans-serif;
    font-size: 2.5em;
    font-weight: 600;
}
section.category-heading {
    content: none;
    display: none;
}
/* inbox */
.archetype-private_message .topic-body .cooked {
    border: none;
    margin-top: revert;
    margin-left: revert;
    padding: 0px 0px 0px 20px;
}
