/* welcome banner */
.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper .featured-banner-link, .below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper .featured-banner-link {
    display: none;
}
.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper h2,
.below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper h2,
.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper .welcome-content p,
.below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper .welcome-content p {
    color: black !important;
    cursor: default;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: left;
}
.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper, .below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper {
    display: contents;
}
.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper h2, .below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper h2 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 0.4em;
}

.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper .welcome-content, .below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper .welcome-content {
    max-width: 1000px;
    padding: 4.5em 0 4.5em 1em;
}

.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper .welcome-content p, .below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper .welcome-content p {
    font-size: 1em;
    font-weight: 500;
    
}

/* search menu nav */
.search-menu .menu-panel {
    padding: 16px 16px 6px 16px;
}
.search-menu .search-input {
    margin-bottom: 16px;
    padding: 0 0;
    order: 2;
}
.search-menu .results {
    margin-top: 0;
    order: 3;
    padding-bottom: 10px;
}
